{template 'common/header'}
<div class="panel panel-info">
    <div class="panel-heading">筛选</div>
    <div class="panel-body">
        <form action="{php echo $this->createWebUrl('manager5')}" method="post" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">搜索</label>
                <div class="col-sm-4 col-xs-4">
                    {php echo tpl_form_field_daterange('time',array('start'=>$sy_start_sy,'end'=>$sy_end_sy),true);}
                </div>
                <div class="col-xs-12 col-sm-2 col-lg-1 text-right">
                    <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                </div>
                <div class="col-xs-12 col-sm-2 col-lg-1 text-right">
                    <a href="{php echo $this->createWebUrl('manager5')}" class="btn btn-default">显示全部支付记录</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body table-responsive">
        <table class="table table-hover">
            <thead class="navbar-inner">
            <tr>
                <th style="width:80px;">支付ID</th>
                <th style="width:150px;">订单ID</th>
                <th style="width:100px;">用户ID</th>
                <th style="width:100px;">金额</th>
                <th style="width:100px;">支付状态</th>
                <th style="width:150px;">创建支付订单时间</th>
                <th style="width:150px;">完成订单支付时间</th>
            </tr>
            </thead>

            <tbody>
            {loop $sy_payList_sy $sy_item_sy}
            <tr>
                <td>{$sy_item_sy['sy_id_sy']}</td>
                <td>{$sy_item_sy['sy_order_id_sy']}</td>
                <td>{$sy_item_sy['sy_uid_sy']}</td>
                <td>{$sy_item_sy['sy_num_sy']}</td>
                {if $sy_item_sy['sy_status_sy']==1}
                <td style="color: #0bb20c">已支付</td>
                {elseif $sy_item_sy['sy_status_sy']==0}
                <td style="color: red">未支付</td>
                {/if}
                <td>{$sy_item_sy['sy_create_time_sy']}</td>
                <td>{$sy_item_sy['sy_update_time_sy']}</td>
            </tr>
            {/loop}
            </tbody>
        </table>
    </div>

    <div style="width: 100px; float: right; margin: 25px;">
        <select id="pages" class="form-control">
            {php for($i=1;$i<=$sy_pages_sy;$i++)  { }
            <option     {php echo $p==$i?'selected':''}
                        value="{php echo $this->createWebUrl('manager5',array('p'=>$i,'time'=>array('start'=>$sy_start_sy,'end'=>$sy_end_sy)))}" >第 {$i} 页 </option>
            {php } }
        </select>
    </div>
    <div style="clear: both">

        <script>
            $("#pages").change(function () {
                var url=$(this).val().trim()
                window.location.href=url
            })
        </script>
    </div>


    {template 'common/footer'}
