<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../addons/shoping11/style/css/bootstrap.min.css">  
   <link rel="stylesheet" href="../addons/shoping11/style/css/bootstrap.css">  
  <script src="../addons/shoping11/style/js/jquery-2.1.0.min.js"></script>
  <script src="../addons/shoping11/style/js/bootstrap.min.js"></script>
  <script src="../addons/shoping11/style/js/index.js"></script>
  <link rel="stylesheet" href="../addons/shoping11/style/css/index1.css"> 
  <link rel="stylesheet" href="../addons/shoping11/style/css/allshopping.css"> 
  <link rel="stylesheet" href="../addons/shoping11/style/css/hotshopp.css"> 
  <link rel="stylesheet" href="../addons/shoping11/style/css/brandclass.css"> 
  <link rel="stylesheet" href="../addons/shoping11/style/css/shoppcar.css"> 
</head>  
  
<body>
<div id ="header">
	<div class="header_div1">
		<h5>
                                    <a href="{php echo $this->createMobileUrl('index')}">
                                        <img style="display:block;margin: 0;width:110px;height: 50px;" src="../addons/shoping11/style/img/header1.png" alt="">
                                        xx商城
                                    </a>
                              </h5> 
			<a href="####">
<!--			<ul>
                                                    <li><a href="####" style ="width: 60px;"><img style="display:block;margin: 0;width:30px;height: 30px;"src="../addons/shoping11/style/img/shoppingcar.png"></a></li>
                                                    <li class="li_o" style="text-overflow:ellipsis;" ><span style="width:70px;">0</span></li>-->
                                            </ul>
		</a>
	</div> 
</div>