{template 'header'}
    <div id ="hotshopp_a"> 
<div>
    <div class="hotshopp_show">
        <div  class="hotshopp_show-1">
            <h4>火热商品</h4>
            <img  src="../addons/shoping11/style/img/img1/allshoppshow.png">
        </div>
        
        <div  class="hotshopp_show-2">
            <ul>
                <li>
                    <a href="{php echo $this->createMobileUrl('shoppcar')}">
                        <div class ="hotshopp_show_2a">
                            <img  src="../addons/shoping11/style/img/img1/1.jpg" style="width: 8em;height:8em;">
                        </div>
                        <p>xxxxxxx连衣群</p>
                         <p>销量：120件</p>
                        <p> 
                            <img src="../addons/shoping11/style/img/qian.png">1000元
                        </p>
                    </a>
                </li>
                <li>
                    <a href="###">
                        <div class ="hotshopp_show_2a">
                                <img  src="../addons/shoping11/style/img/img1/2.jpg">
                        </div>
                         <p>xxxxxxx连衣群</p>
                         <p>销量：120件</p>
                        <p> 
                            <img src="../addons/shoping11/style/img/qian.png">1000元
                        </p>
                    </a>
                </li>
                <li>
                    <a href="###">
                      <div class ="hotshopp_show_2a">
                            <img  src="../addons/shoping11/style/img/img1/3.jpg">
                     </div>
                         <p>xxxxxxx连衣群</p>
                         <p>销量：120件</p>
                         <p> 
                            <img src="../addons/shoping11/style/img/qian.png">1000元
                        </p>
                    </a>
                </li>
                <li>
                    <a href="###">
                      <div class ="hotshopp_show_2a">
                            <img  src="../addons/shoping11/style/img/img1/4.jpg">
                      </div>
                         <p>xxxxxxx连衣群</p>
                         <p>销量：120件</p>
                        <p> 
                            <img src="../addons/shoping11/style/img/qian.png">1000元
                        </p>
                    </a>
                </li>
                <li>
                    <a href="###">
                       <div class ="hotshopp_show_2a">
                            <img  src="../addons/shoping11/style/img/img1/6.jpg">
                       </div>
                         <p>xxxxxxx连衣群</p>
                         <p>销量：120件</p>
                        <p> 
                            <img src="../addons/shoping11/style/img/qian.png">1000元
                        </p>
                    </a>
                </li>
                <li>
                    <a href="###">
                     <div class ="hotshopp_show_2a">
                         <img  src="../addons/shoping11/style/img/img1/7.jpg">
                    </div>
                         <p>xxxxxxx连衣群</p>
                         <p>销量：120件</p>
                        <p> 
                            <img src="../addons/shoping11/style/img/qian.png">1000元
                        </p>
                    </a>
                </li>
                <li>
                    <a href="###">
                     <div class ="hotshopp_show_2a">
                        <img  src="../addons/shoping11/style/img/img1/8.jpg">
                     </div>
                         <p>xxxxxxx连衣群</p>
                         <p>销量：120件</p>
                        <p> 
                            <img src="../addons/shoping11/style/img/qian.png">1000元
                        </p>
                    </a>
                </li>
                <li>
                    <a href="###">
                      <div class ="hotshopp_show_2a">
                            <img  src="../addons/shoping11/style/img/img1/9.jpg">
                      </div>
                         <p style="overflow: hidden">xxx12</p>
                        <p> 
                            <img src="../addons/shoping11/style/img/qian.png">1000元
                        </p>
                    </a>
                </li>
                <li>
                    <a href="###">
                      <div class ="hotshopp_show_2a">
                            <img  src="../addons/shoping11/style/img/img1/9.jpg">
                      </div>
                         <p>xxxxxxx连衣群</p>
                         <p>销量：120件</p>
                        <p> 
                            <img src="../addons/shoping11/style/img/qian.png">1000元
                        </p>
                    </a>
                </li>
                <li>
                    <a href="###">
                      <div class ="hotshopp_show_2a">
                            <img  src="../addons/shoping11/style/img/img1/9.jpg">
                      </div>
                         <p>xxxxxxx连衣群</p>
                         <p>销量：120件</p>
                         
                        <p> 
                            <img src="../addons/shoping11/style/img/qian.png">1000元
                        </p>
                    </a>
                </li>
                
            </ul>
            </div>
        
    </div>
    <div id ="footera"></div>
</div>
</div>
    {template 'footer'}