{template 'header'}

 <div  class="hotshopp_show-1">
     <h4>
         电器
     </h4>
        <img  src="../addons/shoping11/style/img/img1/allshoppshow.png">
</div>
<div class="shopp-a">
    <div class="shopp_a1">    
            <!--img 250*250-->
            <img  src="../addons/shoping11/style/img/img1/1.jpg">
             
    </div>
    <div class="shopp_a2">
        <ul>
            <li class="shopp_a3">
                 <img  src="../addons/shoping11/style/img/img1/1.jpg">
            </li>
            <li>
                 <img  src="../addons/shoping11/style/img/img1/1B.jpg">
            </li>
            <li>
                 <img  src="../addons/shoping11/style/img/img1/1C.jpg">
            </li>
            <li>
                 <img  src="../addons/shoping11/style/img/img1/1A.jpg">
            </li>
        </ul>
    </div>
    <div class="shopp_a4">
        1111
    </div>
    <div class="shopp_a5">
        222
    </div>
    <div class="shopp_a6">
        <ul>
            
            <li>
                    <a  href ="">商品介绍</a>
            </li>
            
            <li>
                    <a  href ="">售后保障</a>
            </li>
            <li>
                <a  href ="">用户评价</a>
            </li>   
        </ul>
    </div>
    <script type="text/javascript">
      
    </script>
</div>

{template 'footer'}