{loop $sy_comments_sy $sy_item_sy}
<h1>评论列表_start</h1>
<dl class="s-clt">
    
    <dt>
        
        <a onclick="" class="pto">
            <img src="{$sy_item_sy['sy_img_sy']}" onerror="this.onerror=null; this.src='images/morentouxiang.png'" check-src="true"></a>
    </dt>
    <dd>
        <div class="info">
            <span class="nine"></span>
            <span class="time">{$sy_item_sy['sy_create_time_sy']}</span>
        </div>
        <div class="one ex-four">
            <span>{$sy_item_sy['sy_comment_sy']}</span>
        </div>
    </dd>

</dl>
<h1>评论列表_end</h1>
{/loop}
<input type="hidden" value="{$sy_count_sy}" name="count">