{loop $sy_orderList_sy $sy_data_sy}
<li>
    <div class="top" style="position: relative">
        {if strtotime($sy_data_sy['sy_departure_time_sy'])<$sy_timestamp_sy}

            <img style=" width: 50px; height: auto; position: absolute;z-index:1;right: 30px;top: 10px;" src="../addons/wx_shangye/public/img/over.png" />

        {/if}
        <div class="lt">
            <p onclick="javascript:window.location.href='{php echo $this->createMobileUrl('details',array('sy_id_sy'=>$sy_data_sy['sy_id_sy']))}'" >
                {if $sy_data_sy['sy_isTop_sy']!=0}
                <span class="love" style="color:#FFFFFF;background-color:#9933CC;font-size:1.3rem;margin-left: 2px;margin-right: 2px;">置顶</span>
                {/if}
                <span class="love" style="color:#FFFFFF;

                {if $sy_data_sy['sy_order_type_sy']==1}
                background-color:#77b36f
                {elseif $sy_data_sy['sy_order_type_sy']==0}
                background-color:#f0ad4e
                {/if};
                font-size:1.3rem;margin-left: 2px;margin-right: 2px;">
                    {if $sy_data_sy['sy_order_type_sy']==1}车找人{elseif $sy_data_sy['sy_order_type_sy']==0}人找车{/if}</span>
                <span

                >{$sy_data_sy['sy_place_of_departure_sy']}--&gt;{$sy_data_sy['sy_destination_sy']}</span>
                {if !empty($sy_data_sy['sy_pathway_sy'])}
                <span >(途经：{$sy_data_sy['sy_pathway_sy']})</span>{/if}</p>

            <p>{$sy_data_sy['sy_departure_time_sy']}&nbsp;出发&nbsp;{$sy_data_sy['sy_replenishment_time_sy']}&nbsp;电话：<a href="tel:{$sy_data_sy['sy_phone_sy']}"
                   style="color:#F0AAAA">{$sy_data_sy['sy_phone_sy']}</a>
            </p>
            {if !empty($sy_data_sy['sy_describe_sy'])}
            <p style="margin-top: 0.2rem;" onclick="javascript:window.location.href='{php echo $this->createMobileUrl('details',array('sy_id_sy'=>$sy_data_sy['sy_id_sy']))}'">备注：{$sy_data_sy['sy_describe_sy']}</p>
            {/if}
            <p style="margin-top: 0.2rem;"
               onclick="javascript:window.location.href='{php echo $this->createMobileUrl('details',array('sy_id_sy'=>$sy_data_sy['sy_id_sy']))}'">
                发布：{$sy_data_sy['sy_order_create_time_sy']}</p>
        </div>
        <div class="rt" onclick="javascript:window.location.href='{php echo $this->createMobileUrl('details',array('sy_id_sy'=>$sy_data_sy['sy_id_sy']))}'" >
            <p class="number"><i class="love" style="color:#FFFFFF;
            background-color:#f5b8b8">
                {if $sy_data_sy['sy_order_type_sy']==1}
                {$sy_data_sy['sy_number_sy']}空位{elseif $sy_data_sy['sy_order_type_sy']==0}
                {$sy_data_sy['sy_number_sy']}人
                {/if}</i></p>


            <p class="number1"><img src="../addons/wx_shangye/public/img/user_visit.png"
                                    style="height: 0.8rem;"><span>{$sy_data_sy['sy_attention_degree_sy']}</span></p>
        </div>
    </div>
</li>
{/loop}
<input id="count" type="hidden" value="{$count}">