/*-------allshopping---------*/

#allshopp_a{
    
    width: 100%;
    font-size: 10px;
}

.allshopp_a1{
    width: 100%;
    height: 90px;
    padding-top: 5px;
    border-radius: 2px;
    border:1px solid #383838;
}

.allshopp_a1 ul li{
    width: 15%;
    height: 40px;
    float: left;
    font-size: 10px;
    text-align:  center;
    margin-left:2.5%;
    margin-right: 2.5%;
    color:red;
}
.allshopp_a1 a img{
   width: 20px;
  }
  .allshopp_a1 ul li a img h6{
      display: block;

  }
  .allshopp_a1 ul li a:hover{
      color:red;
  }
/*------allshopp_show----*/
.allshopp_show{
    
    
}
.allshopp_show-1{
    margin-top: 5px; 
}
.allshopp_show-1 h4{
    font-size: 16px;
    border-left:3px solid #53A3CE;
    border-radius:  0 0 5px 0;
    width: 80%;
    height: 20px;
    float: right;
    background-color: #383838;
    line-height: 20px;
    color: #337AB7;
    padding-left:10px;
}
.allshopp_show-1 img{
    width: 20%;
    height: 20px;
    float:left;
}
/*-----------allshopp_show-2----------*/

.allshopp_show-2 ul li{
    width: 30%;
    text-align: center;
    float:left;
    margin-left: 2.5%;
}
.allshopp_show_2a img{
    height: 9em;
}
.allshopp_show-2 p{
    
    width: 100%;
    overflow-x: hidden;
}
.allshopp_show-2 ul li a img p{
   
    display: block;
   
}
.allshopp_show-2 ul li a:hover{
    color:red;
    
}

