/*-------首页---------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}
a{

    text-decoration: none;
}
li{
     list-style: none;
}
.header{
    zoom:1;
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    -ms-transition: width 2s ease;
    transition: width 1s ease;
 
}
.header:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; 
}

.header-1{
    border: 1px solid #8000FF;
    width: 100%;
    margin-bottom:5px ;
    webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    -ms-transition: width 2s ease;
    transition: width 1s ease;
    padding-left:4%;
    padding-top:4%;
    background: #8000FF;
    border-radius:5px;
    
}
 
.header-1  h2 a{
    width: 100%;
    display: block;
    padding-bottom: 4%;
}
.header-2{
    width: 100%;
    height: 60px;
    border:2px solid #8000FF;
    margin-top:10px;
    display: block;
    border-radius: 5px;
}
.header-2  ul{
    
    width: 100%;
}
.header-2  ul li a{
    border:1px solid black;
    width:20%;
    height: 35px;
   float: left; 
   text-align: center;
    margin-top:10px;
   font-size: 18px;
   line-height: 35px;
   margin-left: 3%;
   margin-right: 2%; 
     border-radius:5px;
}

.header-2 li a:hover{
    text-decoration: none;
    background: #399AB2;
    border:1px solid #399AB2;
    
}
/*----首页header----*/
#fengmian-a{
    zoom: 1;
    border:1px solid red;
    height: auto;
    width: 100%;
    float: left; 
    box-sizing:border-box;
    display: block
}
.fengmian1 li a {
    border:1px solid red;
    letter-spacing: 5px;
    text-align: center;
    font-size: 15px;
    font-style: inherit;
    display: block;
    margin:10px 0;
    height: 30px;
    line-height: 30px;
    padding-left:3%;
    
}
.fengmian1 li a:hover{
    text-decoration: none;
    background:#399AB2;
}
.fengmian1,.fengmian3{
    float: left;
    width: 20%;
    height: 500px;
    margin-left: 3%;
     margin-right: 2%;
    background: #ffccf7;
    display: inline;
    margin-top:10px ;
    border:1px solid black;
    border-radius: 5px;
    
}
.fengmian2,.fengmian4{
    float: left;
    width: 70%;
    height: 500px;
    margin-top: 10px;
    background: #ffccf7;
    display: inline;
    margin-left: 3%;
   margin-right: 2%;
   border:1px solid black;
   border-radius: 5px;
}
.fengmian2-1{
     border:1px solid red;
     width: 100%;
     margin-top:10px;
     font-size: 15px;
}
.fengmian2-1a{
    border: 1px solid black;
    float: left;
    padding-top:1%;
    width:25%;
    border-radius: 5px;
    
}
.fengmian2-1a img{
    width: 100%;
    height: 100%;
}
.fengmian2-1a h6 {
    text-align: center;
    height: 25px;
}


/*---活动报名----*/
.header-a{   
    clear:both;
    width: 100%;
}
.header-b-1 a{
    border-bottom:1px solid blue;
    width: 100%; 
    height: 70px;
    display: block;
}
.header-b-1 a:hover{
    background: black;
}
.header1,.header2,.header3{
    
    padding-top:10px;
    
}
.header1 label,.header2 label,.header3 label{
    
   width:20%;
   margin-left: 3%;
   margin-right: 2%; 
   padding-right:3%;
   text-align: right;
   height: 30px;
   border-radius: 2px;
   line-height: 15px;
    
}
.header1 input,.header2 input,.header3 input{
   border:1px solid black;
   width:70%;
   margin-left: 3%;
   margin-right: 2%; 
   
   text-align: center;
   height: 29px;
   border-radius: 5px;
   float: right;
}
.header4{
    text-align: center;
    
}
/*shopping_cart*/

.shopping_a{
    float: left;
    width: 95%;
    height: 500px;
    margin-top: 10px;
    background: #ffccf7;

    margin-left: 3%;
   margin-right: 2%;
   border:1px solid black;
   border-radius: 5px;
}
.shopping2-1{
     border:1px solid red;
     width: 100%;
     margin-top:10px;
     font-size: 15px;
}
.shopping2-1a{

    width: 100%;
    height: 100%;
    display: block;
}
.shopping2-1a a{
     border: 1px solid black;
    float: left;
    padding-top:1%;
    width:22%;
    border-radius: 5px;
    
    }
.shopping2-1a a  img{
    width: 100%;
    height: 100%;
    display: block;
}
.shopping2-1a h6 {
    text-align: center;
    height: 25px;
}






        @media only screen and (max-width: 500px){
            /*-------首页头--------*/
            a{
               font-size: 13px;
               }
             .fengmian2-1{
                    border:1px solid red;
                    width: 100%;
                    margin-top:10px;
                    font-size: 12px;
               }
             
              
            .header-2  ul li a{
                    border:1px solid black;
                    width:20%;
                    height: 35px;
                   float: left; 
                   text-align: center;
                    margin-top:10px;
                   font-size: 13px;
                   line-height: 35px;
                   margin-left: 3%;
                   margin-right: 2%; 
                }
                .header-2{
                                width: 100%;
                                height: 60px;
                                border:2px solid #8000FF;
                                margin-top:10px;
                                display: block;

                            }
                .header-2  ul{

                        width: 100%;
                    }

                /*----报名活动-----*/
.header1 label,.header2 label,.header3 label{
               padding-top:10px;
               width:25%;
               margin-left: 0%;
               margin-right: 1%; 
               padding-right:2%;
               text-align: right;
               height: 29px;
               border-radius: 2px;
               line-height: 7px;
                }
       .header1 input,.header2 input,.header3 input{
               border:1px solid black;
               width:60%;
               margin-right: 10%; 
               text-align: center;
               height: 29px;
               border-radius: 5px;
               float: right;
            }
       .header4{
               text-align: center;
               padding-left:22%;
              
            }
     

        }


#box{
width: 20%;
height: 30px
             
}

