body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
   
}
a:hover{
    text-decoration: none;
}

li{
     list-style: none;
}
/*-------------header------------------*/
		#header{
			margin-bottom:10px;
			width:100%;
			height:75px;
			background-color:#383838;
		}
		 .header_div1{
			width:100%;
			height:50px;		 
		 }
		 #header .header_div1 h5 a{
			margin-right:25px;
		 }
                               .header_div1 h5{
			color:red;	
			font-size:20px;	
			width: 130px;
			height: 70px;

			float:left;

			text-align:center;
			
		}
		 .header_div1 h5 a{
		  	  color:#B74220;
		  }
		.header_div1 h5 a:hover{
			text-decoration:none;
			color:red; 

		}
		.header_div1 ul{
                                            
			width:70px;
			float: right;
			margin-top:40px;
			margin-right:0px;
                                            text-align:right;

					
 		}
		.header_div1 ul li{
			color:#D85325;
			float:left;
                                            
		}
		.li_o{
                                          
                                            margin-top: 10px;
			white-space:nowrap; 
			overflow:hidden; 
                                            border-radius: 1px;
                                            height: 15px;
                                            line-height: 15px;
                                            text-align: center;
                                            background: white;
                                           
		}
		.li_o li:hover{
			color:red;	
		}
		
		/*-----------center-------------*/
                #center{
                    border:5px solid #383838;
                    background: #383838;
                    border-radius:5px;
                    width: 100%;
                }
                #center ul li{
                       width: 40%;
                       float: left;
                       text-align: center;
                       margin-left: 5%;
                       margin-right: 5%;
                }
                #center img{
                } 
                #center ul li a {
                    display: block;
                }
                #center ul li a:hover{
                    background: #383838;
                    border-radius: 5px;
                }
		
		/*----------------footer-------------*/
                
                #footer{
                    			
                    width: 100%;
                    height:100px;
                    text-align: center;
	
                    position:fixed;
                    left:0; 
                    bottom:10px; 
                    width:100%; 
                    height:42px; 
                    background:#f1f1f1; 
                    border-top:1px solid #c9c9c9; 
                    z-index:5;
		}
		#footer footer{
			
			width: 100%;
			height:90px;	
		}
		#footer footer ul{
			
			width: 100%;
			height: 70px;
	
		}
		#footer footer ul li{
			
			border-bottom:none;
			float: left;	
			width:25%;
		
		}
		#footer footer ul li a{
					display:block;
					border:1px solid black;
					width: 90%;
					height:40px;
					margin-left:5%;
					background:white;
					border-radius:0px 0px 6px 6px;
					
				}
		#footer p{
				color:#337AB7;		
		}
		#footer footer ul li a:hover{
				background:#FE743E;
				display: block;
		}
				
                            .footer_div{
			width: 100%;
			height:50px;	
			background:black;
		}
                #footera{
                    
                    height:70px;
                    width: 100%;
                    float: left;
                    
                }
                /*---------------shopp--------------*/
.shopp-a{
    border:1px solid red;
    width: 100%;
    height: 500px;
    float: left;
    padding:10px;
    
}
.shopp_a1{
    
    width: 100%;
    height: 210px;
    text-align: center;
    background: #383838;
    border-radius:4px;
}
.shopp_a1 img{
    width: 16em;
    height:15em;
    border-left:1px solid #383838;
    border-right:1px solid #383838;
    
}
.shopp_a2{
    border:1px solid red;
    margin-top:10px;
    width: 100%;
    height: 52px;
    float: left;
    display:none;
}

.shopp_a2 ul li{
    float:left;
    border-left:1px solid #383838;
    border-right:1px solid #383838;
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 50px;
    text-align: center;
}
.shopp_a2 ul li img{
    
    width: 3.5em;
    text-align: center;
}
.shopp_a6{
    border:1px solid red;
    width: 100%;
    height: 32px;
    margin-top: 10px ;
    text-align:center;
  
}
.shopp_a6 ul li a{
    border:1px solid red;
    width: 30%;
    height: 30px;
    float:left;
     text-align:center;
     margin-left: 2.5%;
     line-height: 26px;
}
  	
		
		/*------------@mdeia------------------*/


@media only screen and (min-width: 100px){
        .express_3_shopp {
             border-bottom: 2px solid #4897A0;
             color:red;
}
		.td_a2 li a:hover{
				color:black;	
				text-decoration:none;
				background-color: #FF733C;
				display: block;
				
		}
		.td_a2{
			width: 65%;	
			margin-left:2px;	
			text-align: center;
			border-bottom:1px solid red;
		}
		.td_a2 ul{
			border:1px solid blue;
			border-radius:3px;
			width: 100%;
			height:300px;
			margin-top:1px; 
			
		}		
		.td_a2 li{
			font-size:10px;
			float: left;
			width:25%;
			margin:4px 1% 0 1%;
			border-radius: 3px;
			text-align: center;
			border:1px solid #FF733C; 
		}		
	
				

}		
@media only screen and (min-width: 300px){
		.td_a2 ul li a:hover{
				color:black;	
				text-decoration:none;
				background-color: #FF733C;
				display: block;
				
		}
		.td_a2{
			width: 75%;	
			margin-left:2px;
			text-align: center;
			border-bottom:1px solid red;

		}
		.td_a2 ul{
			border:1px solid blue;
			border-right:none;
			border-radius:3px;
			width: 100%;
			height:150px;
			padding-left:10px;
			margin-top:5px;
			padding-top:5px; 
			
		}		
		.td_a2 ul li a{
			font-size:10px;
			float: left;
			width:45%;
			height:22px;
			margin:4px 1% 0 1%;
			border-radius: 3px;
			text-align: center;
			border:1px solid #FF733C;
			display:black;
			line-height:22px;
		}				
				

}

